<input type="checkbox" name="use_%(id)s" checked="checked" value="use" style="width: 20px; border: none;" />
<div style="display: inline-block; width:390px;"></div> <br />

<div style="padding: 5px;">Dublin Core</div>

<div class="field">id:</div>          <input type="text" name="id" readonly="readonly" value="%(id)s" /> <br />

<div class="field">title:</div>       <input type="text" name="title"       placeholder="title"       value="%(title)s"    /> <br />
<div class="field">creator:</div>     <input type="text" name="creator"     placeholder="creator"     value="%(creator)s"     /> <br />
<div class="field">subject:</div>     <input type="text" name="subject"     placeholder="subject"     value="%(subject)s"     /> <br />
<div class="field">publisher:</div>   <input type="text" name="publisher"   placeholder="publisher"   value="%(publisher)s"   /> <br />
<div class="field">contributor:</div> <input type="text" name="contributor" placeholder="contributor" value="%(contributor)s" /> <br />
<div class="field">date:</div>        <input type="text" name="date"        placeholder="date"        value="%(date)s"        /> <br />
<div class="field">type:</div>        <input type="text" name="type"        placeholder="type"        value="%(type)s"        /> <br />
<div class="field">format:</div>      <input type="text" name="format"      placeholder="format"      value="%(format)s"      /> <br />
<div class="field">identifier:</div>  <input type="text" name="identifier"  placeholder="identifier"  value="%(identifier)s"  /> <br />
<div class="field">source:</div>      <input type="text" name="source"      placeholder="source"      value="%(source)s"      /> <br />
<div class="field">language:</div>    <input type="text" name="language"    placeholder="language"    value="%(language)s"    /> <br />
<div class="field">relation:</div>    <input type="text" name="relation"    placeholder="relation"    value="%(relation)s"    /> <br />
<div class="field">coverage:</div>    <input type="text" name="coverage"    placeholder="coverage"    value="%(coverage)s"    /> <br />
<div class="field">rights:</div>      <input type="text" name="rights"      placeholder="rights"      value="%(rights)s"      /> <br />

<div class="field">description:</div>
<textarea name="description">%(description)s</textarea> <br />

<p></p>
<div style="padding: 5px;">Additional fields</div>

<div class="field">filename:</div>    <input type="text" name="filename"    placeholder="filename"    value="%(filename)s"    /> <br />
<div class="field">share_with:</div>  <input type="text" name="share_with"  placeholder="share_with"  value="%(share_with)s"  /> <br />
<div class="field">visibility:</div>  
<select id="visibility_%(id)s">
   <option value="0">Private</option>
   <option value="1">Shared</option>
   <option value="2">Users</option>
   <option value="3">Public</option>
</select>
<script type="text/javascript">
	$('#visibility_%(id)s').val('%(visibility)s');
</script>

<p style="padding:20px;"> </p>
