<div class="field">use:</div>         <input type="checkbox" name="use" checked="checked" value="use" style="width: 20px;" /><div style="display: inline-block; width:280px;"></div> <br />

<div class="field">id:</div>          <input type="text" name="id" readonly="readonly" value="%(id)s" /> <br />

<div class="field">title:</div>       <input type="text" name="title"       placeholder="title"       value="%(filename)s" /> <br />
<div class="field">creator:</div>     <input type="text" name="creator"     placeholder="creator"     /> <br />
<div class="field">subject:</div>     <input type="text" name="subject"     placeholder="subject"     /> <br />
<div class="field">publisher:</div>   <input type="text" name="publisher"   placeholder="publisher"   /> <br />
<div class="field">contributor:</div> <input type="text" name="contributor" placeholder="contributor" /> <br />
<div class="field">date:</div>        <input type="text" name="date"        placeholder="date"        /> <br />
<div class="field">type:</div>        <input type="text" name="type"        placeholder="type"        /> <br />
<div class="field">format:</div>      <input type="text" name="format"      placeholder="format"      value="%(format)s" /> <br />
<div class="field">identifier:</div>  <input type="text" name="identifier"  placeholder="identifier"  /> <br />
<div class="field">source:</div>      <input type="text" name="source"      placeholder="source"      /> <br />
<div class="field">language:</div>    <input type="text" name="language"    placeholder="language"    /> <br />
<div class="field">relation:</div>    <input type="text" name="relation"    placeholder="relation"    /> <br />
<div class="field">coverage:</div>    <input type="text" name="coverage"    placeholder="coverage"    /> <br />
<div class="field">rights:</div>      <input type="text" name="rights"      placeholder="rights"      /> <br />
<div class="field">tags:</div>        <input type="text" name="tags"        placeholder="tags"        /> <br />
<div class="field">filename:</div>    <input type="text" name="filename"    placeholder="filename"    value="%(filename)s" /> <br />

<div class="field">description:</div>
<textarea name="description"></textarea> <br />

<p style="padding:20px;"> </p>
